In [82]:
#O tf-idf é voltado para um Score de Importancia daquela palavra, nao se limitando apenas a sua frequencia

import pandas as pd
df = pd.read_csv('spam.csv', encoding="ISO-8859-1")

In [83]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [84]:
df = df.rename(columns={"v1" : "label", "v2":"message"})
df = df.drop(columns = ["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"])

In [85]:
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [86]:
df.isnull().sum()

label      0
message    0
dtype: int64

In [87]:
#verificamos que nao está equilibrado. Mas nada será feito por enquanto.
df["label"].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [88]:
from sklearn.model_selection import train_test_split
X = df["message"]
y = df["label"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=52)

In [89]:
#Se eu usar o countvectorizer, terei que usar o tf-idf depois.
# from sklearn.feature_extraction.text import CountVectorizer
# count_vect = CountVectorizer()
# X_train_counts = count_vect.fit_transform(X_train)
# X_train_counts.shape

In [90]:
# from sklearn.feature_extraction.text import TfidfTransformer
# tfidf_transform = TfidfTransformer()
# X_train_tfidf = tfidf_transform.fit_transform(X_train_counts)

In [91]:
#Contudo, se eu quiser fazer direto, eh so usar o tfidfVectorizer, pois faz os 2 passos de uma vez
# from sklearn.feature_extraction.text import TfidfVectorizer
# vectorizer = TfidfVectorizer()
# X_train_tfidf = vectorizer.fit_transform(X_train)

In [92]:
#Aí, nessa segunda forma, vamos pra aplicacao do modelo
# from sklearn.svm import LinearSVC
# c=LinearSVC()
# c.fit(X_train_tfidf, y_train)

In [93]:
#Contudo, ha uma terceira forma, que eh aplicar num pipeline direto o tfidfVectorizer com o modelo de ML
from sklearn.pipeline import Pipeline

#cria o pipeline com o vetorizador e o modelo
text_c = Pipeline([("tfidf", TfidfVectorizer()), ("c", LinearSVC())])
text_c.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('c', LinearSVC())])

In [94]:
predictions = text_c.predict(X_test)
predictions

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [95]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
confusion_matrix(y_test, predictions)

array([[969,   1],
       [ 14, 131]], dtype=int64)

In [96]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

         ham       0.99      1.00      0.99       970
        spam       0.99      0.90      0.95       145

    accuracy                           0.99      1115
   macro avg       0.99      0.95      0.97      1115
weighted avg       0.99      0.99      0.99      1115

In [97]:
print(accuracy_score(y_test, predictions))

0.9865470852017937

In [98]:
text_c.predict(["the book is on the table"])

array(['ham'], dtype=object)

In [99]:
text_c.predict(["born to be wild"])

array(['ham'], dtype=object)

In [100]:
text_c.predict(["you know nothing, John Snow"])

array(['ham'], dtype=object)

In [106]:
text_c.predict(["50% off this weekend."])

array(['ham'], dtype=object)

In [109]:
text_c.predict(["this is spam"])

array(['ham'], dtype=object)

In [110]:
text_c.predict(["You won $5000, click link below to claim prize"])

array(['spam'], dtype=object)

In [111]:
text_c.predict(["Click here and i will get your password"])

array(['ham'], dtype=object)